<?php
$site_url = get_option( 'siteurl' );
?>
<style type="text/css">
<!--
.style2 {color: #999999}
.style3 {color: #666666}
.style4 {
	color: #D50948;
	font-weight: bold;
	font-style: italic;
}
.style5 {color: #D50948}
.style6 {
	color: #D50948;
	font-size: 9px;
	font-style: italic;
}
-->
</style>
<hr />  
    <h2>USE</h2>
   
   <p> Click <span class="style5"><strong>edit</strong></span> to set the video gallery.
Add, edit, or delete the items you want to display the gallery. You can see here the options you have for item:</p>
<ul>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono6.png" width="50" height="50" /> <span class="style5"><strong><em>Youtube videos or video flv.</em></strong></span> <span class="style3">You can put a Youtube link video or upload a flv video. </span></li>
<li><img src="<?php echo plugins_url('', __FILE__); ?>/icono3.png" width="50" height="50" /> <span class="style5"><strong><em>Title</em></strong>. </span><span class="style3">The title of each image/video. </span></li>

</ul>
<p class="style2">__________________________________________________________________________________________________________________________________________________________________</p>
<p><strong>You can enter the url of the videos manually or press the button "change video". Pressing the button will load the library wordpress video/images, select the video you want and click "Insert in Post" to insert the video in the carousel.</strong>
</p>
<p>&nbsp;   </p>
<p>After the items, the ultimate has the configuration options and overall design of the ultimate. These are among others: width of the ultimate, the ultimate height, number of thumbnails, the thumbnails sizes, types of animation, colors, text, ...   </p>
<p>&nbsp;</p>
<p class="style6">Visit our page and see more premium plugins! </p>
<table width="100%" border="0" align="center">
  <tr>
    <td width="21%"><a href="http://www.pluginswp.com/"><img src="<?php echo plugins_url('bannerpluginsfinal2.jpg', __FILE__); ?>" border="0" /></a></td>
    <td width="21%"><a href="http://www.pluginswp.com/matrix-gallery/"><img src="<?php echo plugins_url('matrixl_banner2.jpg', __FILE__); ?>" border="0" /></a></td>
    <td width="58%"><a href="http://www.pluginswp.com/ultimate-full-video-gallery/"><img src="<?php echo plugins_url('n2.jpg', __FILE__); ?>" border="0" /></a></td>
  </tr>
</table>
<p>&nbsp;</p>

<hr>
</div>